<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Pridani kategorie</title>
        <link th:insert="fragments/links"></link> 
    </head>
    <body>
        <div th:insert="fragments/logo"></div>
        <div th:insert="fragments/header :: header"></div>
        
        
        <div class="container">
            
            <div>
                <h2>Přidat novou kategorii</h2>
            </div>
            
            <form action="#" th:action="@{/admin/kategorie/pridat-kategorii}" th:object="${categoryForm}" method="post">
                Nazev: <input type="text" th:classappend="${#fields.hasErrors('name')} ? is-invalid" th:field="*{name}" /><br />            
                <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                
                <script type="text/javascript" th:src="@{/js/preventmultipleloading.js}"></script>
                
                <input type="submit" value="Submit" />
            </form>
            
           
        </div>    
    </body>
</html>
