<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>přihlášení</title>
    </head>
    <body>
        <div>
            přihlásit se
            <ul>
                <li><a th:href="@{/user}">uživatel</a></li>
                <li><a th:href="@{/admin}">administrátor</a></li>                    
            </ul>
        </div>
        <div>
            <a th:href="@{/}">Zpět na hlavní stránku</a>
        </div>
    </body>
</html>
